@import url('https://fonts.googleapis.com/css?family=Rubik');


.thank-you-artboard {
  width               : 100%;
  min-width           : 320px;
  height              : 92%;
  /*min-height          : 568px;*/
  position            : relative;
  /*overflow            : hidden;*/
  margin              : 0px;
  background          : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.thank-you-artboard .footericons {
  /* Flexbox */
  display: flex;
  justify-content     : flex-start;
  flex-direction      : row;
  align-items         : center;
  background          : rgba(255, 255, 255, 0.0);
  top                 : 80%;
  height              : 46px;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 66px;
}
.thank-you-artboard .footericons .waze-o {
  background          : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : 48px;
  margin              : 0;
  width               : 48px;
}
.thank-you-artboard .footericons .map-o {
  background          : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : 48px;
  margin              : 0 0 0 25px;
  width               : 48px;
}
.thank-you-artboard .footericons .calander-o {
  background          : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : 48px;
  margin              : 0 0 0 25px;
  width               : 48px;
}
.thank-you-artboard .background {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 70%;
  width               : 500px;
  position            : absolute;
  margin              : 0;
  left                : -90px;
}
.thank-you-artboard .label1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 45%;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 96px;
  font-family         : "Rubik", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 27.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.1px;
  line-height         : 32.0px;
}


.popup {
    position: fixed;
    left: 30;
    width: 50px;
    background-color: white;
    padding: 5px;
    text-align: center;
    direction: rtl;
    box-sizing: border-box;

    transition: all .5s;
    top: -110;
    font-size: 14px;
}

.popup::after {
    content: ' ';
    width: 35px;
    height: 35px;
    background-color: white;
    display: block;
    position: absolute;
    transform: rotate(45deg);
    bottom: -18px;
    z-index: -1;
    left: 7px;
}

.popup img {
    max-width: 100%;
}


footer{
  text-align: center;
}
/*.atcb-list {
    overflow-y: scroll;
    height: 46px;
}*/